<ion-header>
  <ion-toolbar>
    <ion-title>
      Play
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="playPhotos()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="image-container">
    <img #imagePlayer src="" />
  </div>
</ion-content>